.order_grid_box {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  width: 100%;
  overflow: scroll;
  border-collapse: collapse;
}

.table_head,
.table_body {
  display: contents;
}

.table_row > th {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid var(--gray-light);
}

.table_title {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: sticky;
  top: 0;
  font-weight: normal;
  font-size: 1.1rem;
  color: var(--secondary-dark);
  font-weight: 500;
  font-size: 14px;
}

.table_row {
  display: contents;
}
