.flex {
	display: flex;
}

.flexCol {
	flex-direction: column;
}

.shop {
	gap: 4rem;
	margin: 0 1.5rem;
	padding-top: 3rem;
}

.back_button {
	border: none;
	background-color: var(--white);
	width: fit-content;
	margin-top: 1rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 1px solid var(--white);
}

.back_button:active {
	border: 1px solid var(--primary-dark-med);
	background-color: var(--primary);
}

/* all p tags inside .shop */
.shop p {
	color: var(--gray);
}

/* p tag with .header as parent*/
.header > p {
	margin-top: 1.5rem;
}

.label_group {
	justify-content: space-between;
	margin-bottom: 0.5rem;
	font-size: 1rem;
}

.label_group > span {
	color: var(--gray);
	font-size: 1rem;
}

.label_group > p {
	color: var(--error);
}

.input_pair {
	background-color: var(--primary-light-soft);
	border-radius: 1.5rem;
	transition: box-shadow ease 0.2s;
	box-shadow: inset 1px 1px 1px var(--primary),
		inset -1px -1px 1px var(--primary-light);
}

.input_pair input {
	background: transparent;
	border: none;
	height: 3rem;
	width: 100%;
	color: var(--primary-dark-med);
}

.input_pair:focus-within {
	box-shadow: inset 3px 3px 3px var(--primary),
		inset -2px -2px 2px var(--primary-light);
}

.input_pair input {
	outline: none;
}

.input_group {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.input_group label {
	position: absolute;
	top: 50%;
	left: 0.1rem;
	transition: transform ease 0.2s;
	transform: translate(0%, -50%);
	user-select: none;
	pointer-events: none;
	font-size: 1rem;
	overflow-x: scroll;
	width: max-content;
}

.input_editable {
	text-indent: 2rem;
	border-top-left-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
	color: var(--primary-darks);
	font-size: 1rem;
}

.input_editable:-webkit-autofill,
.input_editable:-webkit-autofill:hover,
.input_editable:-webkit-autofill:focus,
.input_editable:-webkit-autofill:active {
	transition: background-color 9999s ease-in-out 0s;
	-webkit-text-fill-color: var(--primary-dark-med);
}

.input_editable_label {
	text-indent: 1rem;
	color: var(--primary);
}

.input_editable:focus + label,
.input_editable:valid + label {
	transform: translate(-150%, -50%);
}

.input_readable {
	border-top-right-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
	font-size: 1rem;
}

.button_container {
	width: 100%;
	margin-top: 10px;
	height: 3rem;
}

.form_group button {
	margin-top: 0.5rem;
	width: 100%;
	border: none;
	color: var(--white);
	height: 3rem;
	border-radius: 1.5rem;
	font-size: 1rem;
	-webkit-box-shadow: 4px 8px 19px -3px var(--primary-dark-med);
	box-shadow: 4px 8px 19px -3px var(--primary-dark-med);
	transition: all 250ms;
	background: var(--primary);
}

.form_group button:active {
	background-color: var(--primary-dark-med);
	background-size: 100%;
	box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
		inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

@media screen and (min-width: 769px) {
	.container {
		height: 100vh;
		background: #a770ef; /* fallback for old browsers */
		background: -webkit-linear-gradient(
			85deg,
			var(--secondary-light),
			var(--secondary-light-med),
			var(--primary-light-med),
			var(--primary)
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			85deg,
			var(--secondary-light),
			var(--secondary-light-med),
			var(--primary-light-med),
			var(--primary)
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.shop {
		overflow-y: scroll;
		gap: 2rem;
		background-color: var(--white);
		margin-right: 2.5rem;
		margin-left: 2.5rem;
		border-radius: 15px;
		min-width: 380px;
		max-width: 30%;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-bottom: 2rem;
		height: 75%;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
			rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	}

	.form_group {
		margin: 1rem 0;
	}
}

@media (hover: hover) {
	.back_button:hover {
		border: 1px solid var(--primary-dark-med);
	}

	.back_button:hover,
	.form_group > button:hover {
		cursor: pointer;
	}
}
