.verify_email_box {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
  gap: 20px;
}

.verify_email_box button {
	margin-top: 30px;
	padding: 10px 15px;
	font-size: 1rem;
	border-radius: 1.5rem;
	border: none;
	color: var(--white);
	-webkit-box-shadow: 4px 8px 19px -3px var(--primary-dark-med);
	box-shadow: 4px 8px 19px -3px var(--primary-dark-med);
	transition: all 250ms;
	background: var(--primary);
}

.verify_email_box button:active {
	background-color: var(--primary-dark-med);
	background-size: 100%;
	box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
		inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

@media (hover: hover) {
	.verify_email_box button:hover {
		background: var(--primary-dark-med);
		cursor: pointer;
	}
}
