.flex {
	display: flex;
}

.flexCol {
	display: flex;
	flex-direction: column;
}

.cart_button_box {
	width: 100%;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-bottom: 40px;
	padding-right: 1rem;
	text-align: right;
}

.cart_button {
	margin-left: auto;
	padding: 16px;
	background-color: var(--white);
	border: transparent;
	border-radius: 45px;
	font-size: 16px;
	color: var(--white);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cart_button:active {
	background-color: var(--black);
	background-size: 100%;
	box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
		inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

.cart_button_desktop {
	display: none;
}

.cart_header_box {
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	border-bottom: 1px solid var(--gray-light);
}

.cart_header_box h2 {
	color: var(--secondary);
}

.cart_review_box {
	background-color: var(--gray-light);
	padding: 0.5rem 0;
}

/* Items title */
.cart_review_box > h2 {
	margin-bottom: 0.5rem;
	margin-left: 1.5rem;
}

.checkout_button_box {
	margin: 1rem 1.5rem;
}

.checkout_btn {
	padding: 15px 15px;
	font-size: 1.1rem;
	border-radius: 1.5rem;
	border: none;
	width: 100%;
	color: var(--white);
	-webkit-box-shadow: 4px 8px 19px -3px var(--secondary-dark-med);
	box-shadow: 4px 8px 19px -3px var(--secondary-dark-med);
	transition: all 250ms;
	background: var(--secondary);
}

.checkout_btn:active {
	background-color: var(--secondary-dark-med);
	background-size: 100%;
	box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
		inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

@media screen and (min-width: 769px) {
	.cart_button_mobile {
		display: none;
	}

	.cart_button_desktop {
		display: block;
	}
}

@media (hover: hover) {
	.checkout_btn:hover {
		background: var(--secondary-dark-med);
		cursor: pointer;
	}
}
