.flex {
  display: flex;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.cart_item_top_box {
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid var(--gray-light);
  padding-bottom: 1rem;
}

.cart_item_uploads_box {
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.example_images_box {
  gap: 1rem;
}

.example_image {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: transform 0.25s ease;
}
