.flex {
  display: flex;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.mobile_nav_box {
  width: 70vw;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 100vh;
}

.navbar_header_group {
  align-items: center;
  padding: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /* border-top-right-radius: 16px; */
  gap: 4px;
}

.greetings_group {
  align-items: center;
}

.launch_image {
  width: 2rem;
  height: 2rem;
}

.navbar_header_group > p {
  margin: 0.5rem 0;
}

.avatar_image {
  border: 1px solid var(--gray-light-med);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  border-radius: 50%;
}

.menu_list_group {
  overflow-y: scroll;
  width: 100%;
}

.menu_link_group {
  color: var(--black);
  text-decoration: none;
}

.menu_link_group:active {
  color: var(--third-light);
}

.navbar_footer_group {
  margin-top: auto;
  width: 100%;
  border-top: 1px solid var(--gray-light-med);
}
