.fab_box {
	position: absolute;
	bottom: 4.5rem;
	right: 1.5rem;
}

.link_group {
	color: var(--black);
	text-decoration: none;
}

.menu_list {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fab {
	margin-top: 2rem;
}

@media screen and (min-width: 769px) {
	.flex {
		display: flex;
	}

	.fab_box {
		display: none;
	}
}
