.flex {
	display: flex;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.gallery_menu_box {
	flex-wrap: wrap;
	box-sizing: border-box;
}

.image_full_size {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	width: 80vw;
	background-color: var(--white);
	text-align: center;
	border-radius: 8px;
}

.enlarged_image {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.image_link_box {
	padding: 1rem 0;
	justify-content: space-around;
	align-items: center;
}
