.card_box {
  background-color: var(--white);
  position: relative;
}

.sold_out_text {
  top: 0.25rem;
  right: 0.5rem;
  position: absolute;
  margin-top: 4px;
  color: rgb(255, 0, 0);
  /* background-color: rgb(255, 225, 225); */
  border-radius: 45px;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 400;
}

.price {
  font-weight: 600;
  font-size: 14px;
  color: var(--black-design-extralight);
}

.add_to_cart_btn {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 45px;
  width: fit-content;
  background-color: var(--purple-bg);
  color: var(--white);
  /* margin-left: auto; */
}

@media (hover: hover) {
  .card_button_box_link:hover {
    filter: brightness(88%);
  }
}
