.flex {
	display: flex;
}

.flexCol {
	display: flex;
	flex-direction: column;
}

.card_box {
	background-color: var(--white);
	position: relative;
}

.card_button_box_link {
	border: transparent;
	background-color: transparent;
	text-decoration: none;
	color: var(--black);
	height: 100%;
}

.card_button_box_link:visited {
	color: var(--black);
}

.card_button_box_link:active {
	filter: brightness(88%);
}

.card_context_box {
	padding: 8px 8px 0 0;
	height: 100%;
}

.card_context_box h4 {
	font-weight: 300;
}

.sold_out_text {
	margin-top: 4px;
	color: rgb(254, 145, 145);
	font-size: 12px;
}

.rating_box {
	align-items: center;
	gap: 4px;
}

.rating_box p {
	font-size: 12px;
	color: var(--black-design-extralight);
}

.price {
	font-weight: 600;
	font-size: 14px;
	color: var(--black-design-extralight);
}

.add_to_cart_btn {
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 45px;
	width: fit-content;
	background-color: var(--brown-bg);
	color: var(--white);
	/* margin-left: auto; */
}

@media (hover: hover) {
	.card_button_box_link:hover {
		filter: brightness(88%);
	}
}
