:root {
  --boxcart-purple-pastel: #af89ff;
  --boxcart-purple-medium-light: #9187ff;
  --boxcart-purple-primary: #6355ff;
  --boxcart-purple-dark: #5348d1;
  --boxcart-black: #333333;
  --boxcart-gradient: linear-gradient(
    194deg,
    #5348d1 0%,
    #6355ff 25%,
    #9187ff 100%
  );
  --boxcart-product-sale-red: #e43a36;
  --boxcart-gray-text: #8f8f8f;
  --boxcart-gray-bg: #f5f5f5;
  --boxcart-gray-border: #b9b9b9;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  /* border: 3px solid #8952ff; */
  background-color: #f6f6f6;
}

h1,
h2,
h3,
h4,
h5,
p,
button {
  margin: 0;
  padding: 0;
}

/* popup.html */
.boxcart-flex {
  display: flex;
}

.boxcart-flex-col {
  display: flex;
  flex-direction: column;
}

#boxcart-popup-content {
  border-radius: 10px;
  width: 425px;
  height: 100px;
  position: relative;
  /* position: fixed; */
}

/* Popup */
/* Logo & Search bar */
.boxcart-header-container {
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: var(--boxcart-gray-bg);
  /* background-color: var(--boxcart-purple-medium-light); */
  padding: 0.5rem 0.5rem 0.85rem 0.85rem;
  border-bottom: 1px solid var(--boxcart-gray-border);
}

.boxcart-header {
  justify-content: space-between;
  align-items: center;
}

.boxcart-logo {
  font-size: 18px;
  font-weight: 600;
  color: var(--boxcart-purple-primary);
  /* color: white; */
}

.boxcart-header-right {
  gap: 0.25rem;
  align-items: center;
}

.boxcart-filter {
  visibility: hidden;
  position: absolute;
  background-color: white;
  right: 1rem;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.boxcart-filter-button {
  background-color: white;
  border: none;
  border-radius: 4px;
}

.boxcart-filter p {
  font-weight: 500;
  font-size: 14px;
  padding: 0.75rem 1rem;
  color: var(--boxcart-black);
}

.boxcart-filter-button:hover {
  background-color: var(--boxcart-black);
}

.boxcart-filter p:hover {
  color: white;
}

.boxcart-icon {
  width: 16px;
  height: 16px;
  padding: 0.5rem;
  border-radius: 45px;
  border: 1px solid transparent;
}

.boxcart-icon:hover {
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.boxcart-icon:hover {
  border: 1px solid black;
}

.boxcart-icon-button {
  background-color: transparent;
  border: transparent;
}

.boxcart-close-icon {
  background-color: transparent;
}

.boxcart-search-container {
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.boxcart-search-form {
  flex-grow: 1;
}

.boxcart-search {
  width: 100%;
  border-radius: 45px;
  text-indent: 1rem;
  border: 1px solid rgb(197, 197, 197);
  padding: 0.5rem;
  background-color: white;
  color: black;
}

.boxcart-loading-indicator {
  display: none;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 4rem;
  font-weight: 500;
  font-size: 14px;
}

/* Product */
.boxcart-bottom-container {
  display: none;
  background-color: #ffffff;
  box-sizing: border-box;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 4rem;
  height: calc(100vh - 100px);
  max-height: 600px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Opera */
.boxcart-bottom-container::-webkit-scrollbar {
  display: none;
}

.boxcart-product-image-container {
  position: relative;
}

.boxcart-product-card {
  gap: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.boxcart-product-image {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 8px;
}

.boxcart-product-sale {
  visibility: hidden;
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 2px 4px;
  border-radius: 45px;
  color: var(--boxcart-product-sale-red);
}

.boxcart-product-details {
  flex-grow: 1;
}

.boxcart-product-business-name {
  font-size: 10px;
  margin: 0;
  padding-bottom: 8px;
  line-height: 0;
}

.boxcart-product-name {
  font-size: 12px;
  font-weight: 600;
  width: 95%;
  padding: 0;
  margin: 0;
  line-height: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.boxcart-info-container {
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0 0.5rem 0;
}

.boxcart-product-distance {
  font-weight: 100;
  font-size: 12px;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.boxcart-price-container {
  gap: 4px;
  align-items: center;
}

.boxcart-product-price {
  font-weight: 700;
  font-size: 14px;
  color: var(--boxcart-black);
  margin: 0;
  padding: 0;
  line-height: normal;
}

.boxcart-product-original-price {
  visibility: hidden;
  color: var(--boxcart-gray-text);
  font-weight: 200;
  font-size: 12px;
  text-decoration: line-through;
  padding: 0;
  margin: 0;
  line-height: normal;
}

.boxcart-shop-identity-container {
  justify-content: space-between;
  align-items: center;
}

.boxcart-shop-button {
  font-size: 12px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 45px;
  background-color: var(--boxcart-purple-primary);
  border: 1px solid var(--boxcart-purple-dark);
  color: white;
}

.boxcart-identity-container {
  gap: 0.5rem;
  align-items: center;
}

.boxcart-identity-image {
  width: 12px;
  height: 12px;
}

.boxcart-identity-image-container {
  border-radius: 45px;
  padding: 2px;
  border: 1px solid var(--boxcart-gray-text);
}

.boxcart-identity {
  width: 8px;
  height: 8px;
  border-radius: 45px;
  border: 1px solid var(--boxcart-black);
}

.boxcart-shop-button:hover {
  border: 1px solid black;
  background-color: var(--boxcart-purple-dark);
}

.boxcart-in-cart {
  margin-top: 0.5rem;
  padding: 0;
  line-height: normal;
  font-size: 10px;
  font-weight: 400;
  color: #5631a7;
}

button:hover {
  cursor: pointer;
}

/* Boxcart Footer */
.boxcart-footer-container {
  display: none;
  width: 100%;
  padding: 0.75rem;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: scroll;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  -ms-overflow-style: none; /* IE and Edge - hide scroll */
  scrollbar-width: none; /* Firefox - hide scroll */
  background-color: var(--boxcart-gray-bg);
  background-color: var(--boxcart-purple-medium-light);
  border-top: 1px solid var(--boxcart-gray-border);
}

/* Chrome, Safari, Opera hide scroll */
.boxcart-footer-container::-webkit-scrollbar {
  display: none;
}

.boxcart-identity-pill-container {
  gap: 0.25rem;
  align-items: center;
  border-radius: 45px;
  padding: 4px 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #ffffff;
}

.boxcart-identity-image-pill {
  width: 14px;
  height: 14px;
}

.boxcart-identity-name {
  font-size: 10px;
  font-weight: 400;
  color: var(--boxcart-gray-text);
  margin: 0;
  padding: 0;
  line-height: normal;
  white-space: nowrap;
}

/* Account */
.boxcart-account-body-container {
  display: none;
  padding: 1rem;
  background-color: #ffffff;
}

.boxcart-body-description {
  font-size: 16px;
  font-weight: 400;
  color: var(--boxcart-blackƒ);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.5rem;
}
