.flex {
	display: flex;
}

.flexCol {
	display: flex;
	flex-direction: column;
}

.header {
	width: 100%;
	padding: 1rem 1.5rem;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--gray-light);
}

.header h2 {
	color: var(--secondary);
}

.checkout_word_box {
	align-items: center;
	gap: 0.5rem;
}

.checkout_content_box {
	background-color: var(--gray-light);
	gap: 0.25rem;
}

.info_box {
	background-color: var(--white);
}

.info_box h2 {
	color: var(--gray-light-med);
}

.customer_info_box {
	gap: 0.5rem;
}

.names_box {
	justify-content: space-between;
}

.payment_info_box,
.customer_info_box {
	padding: 2rem 1.5rem;
}

.submit_button_box {
	margin: 1rem 1.5rem 1.5rem;
}

.submit_order_button {
	padding: 15px 15px;
	font-size: 1.1rem;
	border-radius: 1.5rem;
	border: none;
	width: 100%;
	color: var(--white);
	-webkit-box-shadow: 4px 8px 19px -3px var(--secondary-dark-med);
	box-shadow: 4px 8px 19px -3px var(--secondary-dark-med);
	transition: all 250ms;
	background: var(--secondary);
}

.submit_order_button:active {
	background-color: var(--secondary-dark-med);
	background-size: 100%;
	box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
		inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

@media (hover: hover) {
	.submit_order_button:hover {
		background: var(--secondary-dark-med);
		cursor: pointer;
	}
}
