.grid {
	display: grid;
}

.flex {
	display: flex;
}

.flexCol {
	display: flex;
	flex-direction: column;
}

.nav_bar_box {
	position: absolute;
	right: 1rem;
	top: 9.5rem;
}

.site_box {
	padding-bottom: 6rem;
}

.banner_image_box {
	position: absolute;
	width: 100vw;
	height: 9rem;
	background-color: rebeccapurple;
	z-index: -99;
}

.banner_img {
	display: block;
	width: 100vw;
	height: 100%;
	object-fit: cover;
}

.header_box {
	align-items: center;
	padding: 5rem 1.5rem 1rem;
	gap: 1rem;
}

.business_logo {
	width: 8rem;
	height: 8rem;
	object-fit: contain;
	border-radius: 50%;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	object-position: center;
	border: 1px solid var(--gray-light-med);
}

.business_name_group {
	gap: 4px;
}

.business_bio_box {
	align-items: center;
	gap: 0.5rem;
}

.subscriber_count_box {
	align-items: center;
	gap: 4px;
}

.sub_number {
	color: var(--black);
	font-size: 18px;
}

.sub_word {
	font-size: 12px;
	color: var(--gray);
}

.socials_box {
	gap: 1rem;
}

.bio_paragraph {
	color: var(--gray);
	font-weight: 300;
	text-align: center;
	width: 90%;
}

.header_sub_button_box {
	gap: 1rem;
	align-items: center;
	padding: 1rem 1.5rem;
	border-top: 2px solid var(--gray-light);
	border-bottom: 2px solid var(--gray-light);
}

.btn {
	padding: 0.5rem 0;
	border-radius: 4px;
	width: 50%;
}

.contact_btn {
	border: none;
	color: var(--white);
	transition: all 250ms;
	background-color: var(--secondary);
}

.contact_btn:active {
	background-color: var(--secondary-dark-med);
	background-size: 100%;
}

.subscribe_btn {
	border: 1px solid var(--secondary);
	background-color: transparent;
	color: var(--secondary);
	transition: all 250ms;
}

.subscribe_btn:active {
	background-color: var(--secondary-light);
	background-size: 100%;
	color: var(--white);
}

.fulfillment_box {
	padding: 1rem 1.5rem 1.25rem;
	gap: 1.5rem;
	border-bottom: 2px solid var(--gray-light);
	align-items: center;
}

.location_box {
	align-items: center;
	justify-content: center;
}

.location_box p {
	text-decoration: underline;
	color: var(--gray);
	font-size: 14px;
}

.date_box {
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.date_box p {
	color: var(--gray);
	font-size: 14px;
}

.date_box button {
	font-size: 14px;
	background-color: transparent;
	border: transparent;
	text-decoration: underline;
	color: var(--secondary-dark-med);
}

.tabs {
	display: flex;
	position: relative;
	box-shadow: rgb(204, 219, 232) 1px 1px 3px 0px inset,
		rgba(255, 255, 255, 0.5) 0px 0px 3px 1px inset;
	border-radius: 5px;
	width: 60%;
}

.tabs * {
	z-index: 2;
}

.tabs label {
	font-size: 14px;
	color: var(--gray-text);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tabs label:focus {
	outline: none !important;
}

.fulfillment_box input[type="radio"] {
	display: none;
}

.tab {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 60%;
	font-size: 14px;
	font-weight: 300;
	border-radius: 50px;
	color: var(--gray-text);
	cursor: pointer;
	transition: color 0.15s ease-in;
}

.fulfillment_box input[type="radio"]:checked + label {
	color: var(--white);
}

.fulfillment_box input[id="radio-1"]:checked ~ .glider {
	transform: translateX(0);
}

.fulfillment_box input[id="radio-2"]:checked ~ .glider {
	transform: translateX(105%);
}

.glider {
	position: absolute;
	display: flex;
	align-items: center;
	top: 5px;
	left: 5px;
	height: 30px;
	width: 46.5%;
	background-color: var(--secondary);
	z-index: 1;
	border-radius: 5px;
	transition: 0.25s ease-out;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.menu_icons_box {
	justify-content: flex-start;
}

.icon_box {
	padding: 16px 0;
	flex-grow: 1;
}
