:root {
	--black: #000000;
	--white: #ffffff;
	--primary-light-soft: #eae0fe;
	--primary-light: #d8c5ff;
	--primary-light-med: #c4a9ff;
	--primary: #8952ff;
	--primary-dark-med: #5b37aa;
	--primary-dark: #2e1b55;
	--secondary-light: #c3d9ff;
	--secondary-light-med: #a5c7ff;
	--secondary: #4a8eff;
	--secondary-dark-med: #315faa;
	--secondary-dark: #192f55;
	--gray: #666666;
	--gray-light-med: #a3a3a3;
	--gray-light: #efefef;
	--error: rgb(254, 78, 78);
	--success: rgb(75, 255, 126);
}

* {
	padding: 0;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

* {
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
label,
span {
	font-family: var(--robotoFlex-font), sans-serif;
}

p,
input::placeholder,
textarea::placeholder,
input,
textarea {
	font-family: var(--archivo-font), sans-serif;
}

/* Chrome, Safari, Edge, Opera remove input number arrow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
