.nextbackbuttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8rem;
}

.hide_back_button {
  visibility: hidden;
}

.hide_skip_button {
  visibility: hidden;
}

.button_group {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.skip_button {
  border: none;
  color: var(--primary-dark-med);
  background-color: transparent;
  text-decoration: underline;
}

/* * Active Buttons */

.skip_button:active {
  color: var(--primary-light-med);
}

.next_button:disabled:active {
  background-color: unset;
  box-shadow: unset;
}

@media (hover: hover) {
  .next_button:disabled:hover {
    background: unset;
    cursor: not-allowed;
  }
}
