.flex {
	display: flex;
}

.flexCol {
	display: flex;
	flex-direction: column;
}

.tip_example {
	margin-top: 16px;
	color: var(--gray);
}

.form_box {
	margin-top: 1.5rem;
	align-items: center;
}

.tip_type_box {
	gap: 1rem;
}

.inputs_box {
	align-items: center;
	gap: 1rem;
	width: 100%;
	margin-top: 3rem;
}

.input_group {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.tip_input {
	height: 3.5rem;
	width: 100%;
	text-indent: 2.5rem;
	border-radius: 5px;
	font-size: 1.25rem;
	color: var(--primary-dark-med);
	border: none;
	background-color: var(--primary-light-soft);
	outline: none;
	transition: box-shadow ease 0.2s;
	box-shadow: inset 1px 1px 1px var(--primary),
		inset -1px -1px 1px var(--primary-light);
}

.tip_input:focus {
	box-shadow: inset 3px 3px 3px var(--primary),
		inset -2px -2px 2px var(--primary-light);
}

.tip_input::placeholder {
	color: var(--primary-dark-med);
	font-size: 1.25rem;
}

.tip_input input:-webkit-autofill,
.tip_input input:-webkit-autofill:hover,
.tip_input input:-webkit-autofill:focus,
.tip_input input:-webkit-autofill:active {
	transition: background-color 9999s ease-in-out 0s;
	-webkit-text-fill-color: var(--primary-dark-med);
	font-size: 1.25rem;
}

.tip_label {
	position: absolute;
	top: 50%;
	left: 2.5rem;
	transition: transform ease 0.2s;
	transform: translate(0%, -50%);
	user-select: none;
	pointer-events: none;
	color: var(--primary);
	font-size: 1.25rem;
}

.input_group > input:focus + label,
.input_group > input:valid + label {
	transform: translate(-150%, -50%);
}
